p.idiot#id.class(foo="\nfoo()\\ \"quoted\"  <==two spaces" bar=author+"foo")
p.idiot#id.class(foo="'single_quotes'" bar=author+"'single'")
p.idiot#id.class(class=author)
p.idiot#id.class
p#id.class
p#id
#id
.class
.idiot.class
p(class=classes)
p.bar2#yo.foo.bar.bar(class=classes)
#foo(id="bar")
#foo(id=null)
#foo(id="")
- var x = "bar"
#foo(id=x)
