p.idiot#id.class(foo="\nfoo()\\ \"quoted\"  <==two spaces" bar=author+"foo")
p.idiot#id.class(foo="'single_quotes'" bar=author+"'single'")
p.idiot#id.class(class=author)
p.idiot#id.class
p#id.class
p#id
#id
.class
.idiot.class