/* This is a multi-line
	C-style comment, which
	is not parsed */
/** This should appear */
/**This should appear   */
/**    This should appear*/
/**	Testing		*/
h1 Hello
	| Testing 1, 2, 3
/**
h1 Hello
	| Testing 1, 2, 3
*
*/
//
	|
		Testing 1, 2, 3
		/* Foobar */ -- that should render
		/** Testing - this should render */
/* //
	| bjudjfksjkd j
*/
