- var a = 1, b = 2
- if(a +
	_ b == 2)
	p a + b == 2
- else
	p a + b != 2
- if(a +
	_ b == 3)
	p a + b == 3
- else
	p a + b != 3
- var short = "This is a short string"
- var long = "This is a very, very long string " +
	_ "that one may want to span " +
	_ "several lines"
- var math = 1 +
	_ 2 + 3
p=short
p=long
p=math
\_checkingUnderscoreTag Test
