input#foo.bar.foobar
	{change}
		//test1
input.foo.bar
	{change click}
		alert("Test2");
		//test2
		alert("Still test 2");
		/* More of test 2 */
input(onclick="alert('foo');")
	{CLICK}
		//test3 - click
	{change}
		//test4 - change
	{keyup}
		//test5 - keyup