head
	:javascript
		$(document).ready(function() {
			console.log("This is only a test");
		});
body
	:nl2br
		This is only a test
		
		I am testing <to> see if this got "escaped"
		
		
		
		
		to see if this worked right...
	:cdata
		This is a <cool> test
