- var users = ["Joe", "Bob", "Billy"]
foreach users
	p Welcome, #{this}
foreach users as user
	p Welcome again, #{user}
	p But `this` == `user`, as well? #{this == user}
else
	p Users should not be empty?!?!
- var empty = []
foreach empty as foo
	p This should not happen
else
	p Empty is definitely empty
foreach empty as foo
	p This should also not happen
- var obj = {"list": [1, 2, 3]}
foreach obj.list
	p= this
