p Before foo
block foo
	h1 Inside foo
p After foo

include "functions_and_block_include.blade"

p Before old bar
block bar
	h1 Inside old bar
p After old bar
call defineBar
| Temp
call defineBar()
p After call define bar
render bar("idiot")

block text
	h1 Text before
p The end
replace text
	call text
p The very end
