h1 Begin include_in_replace_block
include "include_in_replace_block/block_def"
h1 After including block def
replace block test
	include "include_in_replace_block/block_content"
include "include_in_replace_block/replace_block"
h1 End include_in_replace_block
