p The author of Blade is #{author}
p But no one really cares much
	| I dunno #{why} #{Jade}
	| #{Jade}
	| and because \#{escaped}
	| and because TJ is #{TJ}
:nl2br
	Let's see if interpolation works on filters
	#{why} it's important.
	\#{escaped} #{author}
