html
	head
	body
		p
			|
				Testing 4, 5, 6
				7, 8, 9
				10, 11, 12
			:nl2br
				Maybe some line breaks needed?
				
				Eh?
		p
			| Test
			| Another line
			| One more
			| The end
		h1
			|!
				Not <strong>escaped</strong>
				Cool!